{% extends 'layout.html' %}



{% block body %}
<div class="container">
	<div class="top-wrapper">
		<div class="username">
			{{session['username']}}
		</div>
		<div class="friends-button">
			
		</div>
		<div class="following">
			
		</div>
	</div>
	<div class="col-sm-1 col-sm-offset-9 span-holder">
		<span class="glyphicon glyphicon-minus glyph-flat"></span>
		<span class="glyphicon glyphicon-minus glyph-rotate"></span>
	</div>
	<div class="the-post-form col-sm-8 col-sm-offset-2 active">
		<form id="submit-post-form" action="post_submit" method="post">
			<div>POST</div>
			<textarea name="post_content" rows="3"></textarea>
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary">Submit Post</button>
			</div>
		</form>
	</div>
	<div class="col-sm-12 bawk-feed">
		<div class="col-sm-8 col-sm-offset-2 bawk-wrapper">
			<div class="col-sm-2 bawk-user-avatar"><img src="../static/images/dave.jpg"></div>
			<div class="col-sm-10 right-side-bawk">
				<div class="col-sm-12 bawk-user">David</div>
				<div class="col-sm-12 the-bawk">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus iste doloremque quis tenetur quaerat assumenda, iusto, quia doloribus qui soluta deleniti id odio delectus eligendi distinctio similique accusamus repellat perferendis.</div>
			</div>
			<div class="bawk-vote"></div>
		</div>
	</div>
</div>
{% endblock %}