{% extends 'layout.html' %}

{% block body %}
{% if message %}
	<div class="alert alert-danger">{{message}}</div>
{% endif %}

	<div class="col-xs-20 col-xs-offset-1">
		<form class="form-horizontal" method="post" action="/login_submit">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-6">
					<input type="text" name="username" class="form-control" id="inputEmail3" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-6">
					<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<button type="submit" class="btn btn-default btn-success">Register</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}